
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env.test
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker compose env ###
/.env.docker
/.env.docker.local
###< docker compose env ###
/public/uploads/
/.php-cs-fixer.cache
/.twig-cs-fixer.cache

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
