{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="w-full max-w-md bg-white rounded-xl shadow-lg p-8">
<h1>
</h1>
</div>
{% endblock %}
